body { 
    background-color: #073123c8; 
}


h1{
    font-family: 'Times New Roman', Times, serif;
    color:  #25254584;
    font-stretch: 50%;
    
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: #ecf79680;
    font-stretch: 100%;
    
}