body { 
    background-color: #073123c8; 
    font-family: 'Cedarville Cursive', cursive;
}


h1{
    color:  #25254584;
    font-stretch: 50%;
    
}

h2{
    color: #ecf79680;
    font-stretch: 100%;
    
}