body{
    font-family: 'Berkshire Swash', serif;
    background-color: rgb(211, 0, 123);

}

.flex-test{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.flex-item1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-stretch:ultra-expanded;
}

.flex-item2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-stretch:ultra-expanded;
    color: rgb(124, 0, 46);
}

.flex-item3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-stretch:ultra-expanded;

}




