body{
     background-color: #28282B;
}
h1{
    font-family: 'Rubik Pixels', system-ui;
    color: #40e063;
    font-size: 500%;
}

h2{
    font-family: 'Rubik Pixels', system-ui;
    color: #40E0D0;
    font-size: 500%;
   
}