body{
    font-family:Helvetica, sans-serif;
    background-color: rgb(140, 152, 189);

}

h1{
    color:rgb(3, 3, 70);
}

h2{
    color:rgb(5, 5, 103);
}

h3{
    color:rgb(6, 6, 128);
}
h4{
    color:rgb(7, 7, 154);
}

h5{
    color:rgb(8, 8, 152);
}

h6{
    color:rgb(26, 26, 185);
}